#   Ignore Terraform and Terragrunt work files anywhere in tree.

**/.terraform*
**/.terragrunt-cache
**/terraform.tfstate*

#   Ignore override.tf file anywhere in tree.

**/override.tf

#   Ignore vim swap files anywhere in tree.

**/*.sw[mnop]
